.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}


.main-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "wCurrent wNextHours thermostat"
                       "wCurrent wNextDays  thermostat"
                       "calendar calendar   calendar";
}

.weather-current {
  grid-area: wCurrent;

  display: grid;
  grid-gap: 3px;
  grid-template-columns:  repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.weather-next-hours {
  grid-area: wNextHours;
}

.weather-next-days {
  grid-area: wNextDays;
}

.thermostat {
  grid-area: thermostat;
}

.calendar {
  grid-area: calendar;
}

.dashboard-cell {
  background-color: #343434;
  border: 2px solid #484890;
  border-radius: 10px;
  color: white;
  padding: 5px;
}


.w-current-ts {
  grid-column: ~"1 / -1";

  text-align: center;
}

.w-current-icon{
  grid-column: ~"1 / span 2";
}

.w-current-temp{
  grid-column: ~"3 / span 2";
}

.w-current-description {
  grid-column: ~"1 / -1";
}

.w-current-wind-direction {
  grid-column: ~"1 / span 2";
}

.w-current-wind-speed {
  grid-column: ~"3 / span 2";
}

.w-current-humidity {
  grid-column: ~"1 / span 3";
}

.w-current-pression {
  grid-column: ~"1 / span 3";
}

.w-link {
  grid-column: ~"4 / -1";
  grid-row: ~"5 / 7";
}
